.values {
	margin-top: 31px;
	margin-bottom: 31px;
	display: flex;
	flex-direction: column;
	gap: 33px;
}

@media screen and (max-width: 599px) {
	.values {
		margin-top: 20px;
		margin-bottom: 20px;
		gap: 20px;
	}
}