.flat {
  color: var(--color-primary);
}

.secondary-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.location {
  font-size: 18px;
  font-weight: 500;
}

.tags {
  display: flex;
  gap: 10px;
}

.host-and-rating-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.host-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 24px;
  text-align: end;
}

.host-name {
  font-size: 18px;
  font-weight: 500;
}

.host-family-name {
  display: block;
}

.picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.rating-wrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
  width: max-content;
}

.rating {
  font-size: 30px;
}

.extinct-stars {
  color: var(--color-grey-star);
}

.description-and-equipments {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.description-and-equipments > article {
  flex: 0 1 47%;
  row-gap: 76px;
}

li {
  list-style: none;
}

.no-ads-wrapper {
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-ads-text {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 1199px) {
	.title {
		font-size: 30px;
	}

  .location {
    font-size: 16px;
  }

  .picture {
    height: 52px;
    width: 52px;
  }

  .rating {
    font-size: 24px;
  }

  .description-and-equipments {
    flex-direction: column;
    gap: 20px;
  }
  
  .description-and-equipments > article {
    width: 100%;
  }

  .no-ads-text {
    font-size: 24px;
  }
}

@media screen and (max-width: 899px) {
  .secondary-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

	.title {
		font-size: 24px;
	}

  .host-and-rating-wrapper {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  
  .host-wrapper {
    margin-bottom: 0;
  }

  .host-name {
    font-size: 14px;
  }

  .picture {
    height: 42px;
    width: 42px;
  }

  .rating {
    font-size: 20px;
  }

  .no-ads-wrapper {
    min-height: 60vh;
  }

  .no-ads-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 599px) {  
	.title {
		font-size: 18px;
	}

  .location {
    font-size: 14px;
  }

  .host-name {
    font-size: 12px;
  }

  .picture {
    height: 32px;
    width: 32px;
  }

  .rating {
    font-size: 15px;
  }

  .no-ads-wrapper {
    min-height: 64vh;
  }

  .no-ads-text {
    font-size: 16px;
  }
}