.card {
	display: flex;
	align-items: flex-end;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%), var(--color-primary);
	height: 340px;
	border-radius: var(--border-radius-sm);
	padding: 20px;
}

.title {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 599px) {
	.card {
		height: 255px;
	}
}