.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navlist {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	width: 309px;
}

.navlist > li {
	cursor: pointer;
}

.navlist > li > a {
	color: var(--color-primary);
}

.active {
	text-decoration: underline;
}

@media screen and (max-width: 899px) {
	.logo-wrapper > img {
		width: 180px;
	}
	
	.navlist {
		font-size: 20px;
		width: 280px;
	}
}

@media screen and (max-width: 599px) {
	.header {
		margin-bottom: 10px;
	}

	.logo-wrapper > img {
		width: 145px;
	}

	.navlist {
		font-size: 12px;
		text-transform: uppercase;
		width: 140px;
		padding: 0;
	}
}

@media screen and (max-width: 372px) {
	.header {
		flex-direction: column;
	}

	.logo-wrapper {
		margin-bottom: 20px;
	}
}