.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navlist {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	width: 309px;
}

.navlist > li > a {
	color: var(--color-primary);
}

.active {
	text-decoration: underline;
}

@media screen and (max-width: 599px) {
	.header {
		margin-bottom: 10px;
	}

	svg {
		width: 145px;
		height: 47px;
	}

	.navlist {
		font-size: 12px;
		text-transform: uppercase;
		width: 140px;
		padding: 0;
	}
}