:root {
  --border-radius: 25px;
  /* Colours */
  --color-primary: #FF6060;
  --color-grey: #F7F7F7;
  /* Breakpoints */
  --for-phones-only: 599px; /* max-width */
  --for-tablet-portrait-up: 600px; /* min-width */
  --for-tablet-landscape-up: 900px; /* min-width */
  --for-desktop-up: 1200px; /* min-width */
  --for-big-desktop-up: 1800px; /* min-width */
}

.App {
  background-color: white;  
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-primary);
}