:root {
  --border-radius: 25px;
  --color-primary: #FF6060;
  --color-grey: #F7F7F7;
}

.App {
  background-color: white;  
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-primary);
}