.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: lightgray;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
	height: 223px;
	width: 100%;
	border-radius: var(--border-radius);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
}

@media screen and (max-width: 599px) {
	.banner {
		justify-content: flex-start;
		margin-top: 20px;
		height: 111px;
	}
}